    @charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

    :root {
        --font: "DM Sans", sans-serif;

        --cor-1: #7F9BB0;
        --cor-2: #778087;
        --cor-3: #79B1DB;
        --cor-4: #45525C;
        --cor-5: #1E2A33;
        --cor-6: #152633;
        --cor-7: #0c151d;

    }

    * {
        margin: 0;
        padding: 0;

        box-sizing: border-box;
    }

    body {
        font-family: var(--font);
        background-image: linear-gradient(to left, var(--cor-4), var(--cor-6));
        padding: 20px;
    }

    /*     .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    } */



    #white-board {
        /*         background-color: white;
 */
        padding: 30px;
        background-color: var(--cor-6);
        /*         border-radius: 30px;
 */
        width: 1300px;
        color: white;
        margin: auto;
    }

    #white-board>h1 {
        text-align: center;
    }

    #tabs>button {
        padding: 20px;
        border-radius: 7px;
    }

    #label-nm {
        text-transform: uppercase;
    }
    h1 {
        margin-top: 50px;
        text-align: center;
        color: white;
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    #item-name

    /* input  */
        {
        border: 0;
        border-bottom: 1px solid black;
        width: 500px;
    }

    #div-line-2 {
        width: 600px;
        margin: auto;
        height: 1px;

        margin-top: 2px;

        background-color: #4e4e4e;
    }

    table {
        border-left: 0;
        border-right: 0;
        background-color: var(--cor-7);

    }

    td {
        padding: 10px;
        border: 0;
        border-radius: 20px;
    }
th {
}
        {}

    #input-section {
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }

    table button {
        border: 0px;
        padding: 10px;
        background-color: var(--cor-1);
        color: white;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
    }